.tad_xs-1,.tad_xs-2,.tad_xs-3,.tad_xs-4,.tad_xs-5,.tad_xs-6,.tad_xs-7,.tad_xs-8,.tad_xs-9,.tad_xs-10,.tad_xs-11,.tad_xs-12,
.tad_sm-1,.tad_sm-2,.tad_sm-3,.tad_sm-4,.tad_sm-5,.tad_sm-6,.tad_sm-7,.tad_sm-8,.tad_sm-9,.tad_sm-10,.tad_sm-11,.tad_sm-12,
.tad_md-1,.tad_md-2,.tad_md-3,.tad_md-4,.tad_md-5,.tad_md-6,.tad_md-7,.tad_md-8,.tad_md-9,.tad_md-10,.tad_md-11,.tad_md-12,
.tad_lg-1,.tad_lg-2,.tad_lg-3,.tad_lg-4,.tad_lg-5,.tad_lg-6,.tad_lg-7,.tad_lg-8,.tad_lg-9,.tad_lg-10,.tad_lg-11,.tad_lg-12{
	float: left;
	box-sizing: border-box;
}
.tad_sm-1{width: 8.333333%;}
.tad_sm-2{width: 16.666666%;}
.tad_sm-3{width: 25%;}
.tad_sm-4{width: 33.333333%;}
.tad_sm-5{width: 41.666666%;}
.tad_sm-6{width: 50%;}
.tad_sm-7{width: 58.333333%;}
.tad_sm-8{width: 66.666666%;}
.tad_sm-9{width: 75%;}
.tad_sm-10{width: 83.333333%;}
.tad_sm-11{width: 91.666666%;}
.tad_sm-12{width: 100%;}


@media screen and (min-width:768px){
.tad_md-1{width: 8.333333%;}
.tad_md-2{width: 16.666666%;}
.tad_md-3{width: 25%;}
.tad_md-4{width: 33.333333%;}
.tad_md-5{width: 41.666666%;}
.tad_md-6{width: 50%;}
.tad_md-7{width: 58.333333%;}
.tad_md-8{width: 66.666666%;}
.tad_md-9{width: 75%;}
.tad_md-10{width: 83.333333%;}
.tad_md-11{width: 91.666666%;}
.tad_md-12{width: 100%;}
}
@media screen and (max-width:479px){
.tad_xs-1{width: 8.333333%;}
.tad_xs-2{width: 16.666666%;}
.tad_xs-3{width: 25%;}
.tad_xs-4{width: 33.333333%;}
.tad_xs-5{width: 41.666666%;}
.tad_xs-6{width: 50%;}
.tad_xs-7{width: 58.333333%;}
.tad_xs-8{width: 66.666666%;}
.tad_xs-9{width: 75%;}
.tad_xs-10{width: 83.333333%;}
.tad_xs-11{width: 91.666666%;}
.tad_xs-12{width: 100%;}
}
@media screen and (min-width:1024px){
.tad_lg-1{width: 8.333333%;}
.tad_lg-2{width: 16.666666%;}
.tad_lg-3{width: 25%;}
.tad_lg-4{width: 33.333333%;}
.tad_lg-5{width: 41.666666%;}
.tad_lg-6{width: 50%;}
.tad_lg-7{width: 58.333333%;}
.tad_lg-8{width: 66.666666%;}
.tad_lg-9{width: 75%;}
.tad_lg-10{width: 83.333333%;}
.tad_lg-11{width: 91.666666%;}
.tad_lg-12{width: 100%;}
}
*{
	font-size: 0;
	/* outline: 1px solid red; */
}
body{
	overflow-x: hidden;
}
:root{
	--gray_1: #5d5d5d;
	--gray_2: #888888;
	--gray_3: #aaaaaa;
	--gray_4: #dddddd;
	--white_1: rgba(245,242,242,1);
	--white_2: rgba(251,250,250,1);
	--white_3: rgba(253,253,253,1);
	--red:rgba(184,97,88,1) ;
	--red_2:rgba(184,97,88,.5) ;
	--black: #111;
	}
img{
	width: 100%;
	vertical-align: middle;
}
button,input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0px;
	cursor: pointer;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
	height: 0;
		}
.middle{
	font-size: 0;
}
.middle:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.middle div{
	display: inline-block;
	vertical-align: middle;
}
.triangel_sm-before,.triangel_sm-after,
.triangel_md-before,.triangel_md-after{
	position: relative;
}
.triangel_sm-before:before,.triangel_md-before:before{
	content: '';
	display: block;
	transform: rotate(45deg);
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin: auto;
}
.triangel_sm-after:after,.triangel_md-after:after{
	content: '';
	display: block;
	transform: rotate(45deg);
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin: auto;
}
.line_decoration{
	position: relative;
}
.line_decoration:after{
	content: '';
	display: block;
	height: 2px;
	width: 30px;
	background-color: var(--gray_4);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;		
}
a.contact{
	display: inline-block;
	border-radius: 4px;
	background-color: var(--red);
	text-align: center;	
	transition: 1s;
}
a.contact:hover{
	transform: scale(1.05);
	transition: 1s;
	background-color: rgba(190,90,70,1);
}
a.more{
	text-align: center;	
	border-radius: 2px;
	display: inline-block;
	border-color: var(--gray_4);
	transition: 1s;
}
a.more:hover{
	border-color:var(--red);
	color: var(--red); 
	transition: 1s;
}
a,.fas{ cursor: pointer; }
.wrapper{
	box-sizing: border-box;
}
h3.title_deraction{
	text-align: left;
}
span.title_deraction{
	display: block;
	position: relative;
	left: 2px;
}
span.title_deraction:after{
	content: '';
	background-color: var(--red);
	opacity: .3;
	width: 95%;
	height: 2px;
	position: absolute;
	left: 60px;
	top: 0;
	bottom: 0;
	margin: auto;
}
/* ------------ 第一屏------------- */
.header{
	height: 90vh;	
	background-position:center;
	background-size: cover;
	font-size: 0;
	overflow: hidden;
	position: relative;
}

.header_text{
	height: 0;
	transform: rotate(45deg);
	position: absolute;
	background-color: hsla(255, 0%, 99%, 0.9);
}
.header_text_container{
	transform: rotate(-45deg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.header p{
	text-align: justify;
	text-justify: auto;
}

.pageslogan h2{
	box-sizing: border-box;
	width: 60%;
	padding: 4%;
	background-color: hsla(250, 0%, 99%, .9);
	position: absolute;
	top: 43%;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
/* ------------ banner------------- */
.banner,.banner.triangel_md-after:after,
.banner.triangel_sm-after:after{
	background-color: var(--black);
}
.banner_back{
	box-sizing: border-box;
	padding: 30px 50px 30px;
}
.banner p,.banner a{
	margin: 12px ;
}
.banner{
	text-align:center;
}
.banner .slogan-white{
	position: relative;
	z-index: 1;
}
/* -- -----------contact表單-------------- */
.contactTable{
	padding: 100px 0px 0px;
}
.content_table_content{
	padding: 20px 5px;
}
.contactTable input[type="text"],.contactTable select,.contactTable textarea{
	font-size: 14px;
	line-height: 20px;
	width: 60%;
	border: 1px solid var(--gray_4);
	border-radius: 4px;
	vertical-align: bottom;
}
.contact-flex{
	display: flex;
	justify-content: space-between;
}
.contactTable select{
	text-align-last: center;
	position: relative;
	/* top: 3px; */
	float: right;
	height: 34px;
	cursor: pointer;

}
.contactTable textarea{
	height: 40px;
	width: 100%;
	margin : 10px 0px;
}
.contact_table_bottom{
	margin-top:8px ;
	text-align: center;
}
.content_table_content .slogan_content{
	text-align: left;
}
.contactTable input[type="submit"]{
	display: block;
	margin: 16px auto 10px ;
	font-size: 16px;
	padding: 4px 10px;
	color: var(--gray_2);
	border: solid 1px var(--gray_4);
	border-radius: 2px;
	background: #fff;
	background: -webkit-linear-gradient(left top, left bottom,#fff 0%,#ededed 100%);
	background: -moz-linear-gradient(top,  #fff 0%,  #ededed 100%);
}
.contact_table{
	position: relative;
	z-index: 2;
	background-color: var(--white_3);
	width: 60%;
	margin: auto;
	border: 1px solid var(--gray_3);
	border-radius: 2px;
	margin-top: -20%;
	box-sizing: border-box;
	padding: 50px 20px;
}
footer{
	box-sizing: border-box ;
	margin-top: 100px;
	width: 100%;
	background-color: #222;
	text-align: center;
	padding: 20px 10px 20px;
}

.footer_item p{
	padding: 12px 0px;
}

.footer_icon{
	width: 6%;
	display: inline-block;
}
.footer_item {
	padding: 5px 0px;
}
footer .subcontent-white{
	padding-top: 10px;
}
footer .footer_item:nth-child(3){
	padding-bottom: 20px;
}
.pageslogan h2{
	animation: title-active 1s;
}
@keyframes title-active{
	0%{transform: translateX(-2000px);}
	60%{transform: translateX(30px);}
	80%{transform: translateX(-10px);}
	100%{transform: translateX(10px);}
}
.header_text{
	animation: title-active2 1s;
	transition: 1s;
}
@keyframes title-active2{
	0%{transform: translate(0, 1000px);
		opacity: 0;}
	100%{transform: translate(0, 0) ,rotateZ(360deg);
		opacity: 1;}
}
/* ------------ 捲到一個地方字會跑出來的動畫------------ */

.content-index-product-info{
    opacity: 0;
    -webkit-transform:scale3d(1.3,1.3,1) rotate3d(1,-3,-1,-36deg) translate3d(10px,50px,-100px);
   transform:scale3d(1.3,1.3,1) rotate3d(1,-3,-1,-36deg) translate3d(10px,50px,-100px);
	}
.content-index-product-pie-info{
    opacity: 1;
    -webkit-transform: scale3d(1,1,1) rotate3d(0,0,0,0) translate3d(0,0,0);
    transform: scale3d(1,1,1) rotate3d(0,0,0,0) translate3d(0,0,0);
    transition: opacity 1.8s,-webkit-transform 1.8s cubic-bezier(.19,1,.22,1);
    transition: opacity 1.8s,transform 1.8s cubic-bezier(.19,1,.22,1);
	}
.goTop{
	width: 100px;
	height: 50px;
	position: fixed;
	right: 30px;
	transform: rotate(270deg);
	z-index: 10;
	color: var(--gray_2);
	cursor: pointer;
	padding: 0px 8px;
}
.goTop:after,.goTop:before{
	display: block;
	position: absolute;
	width:1.5px;
	background-color: var(--gray_3);
	content: '';
}
.goTop:before{
	top: 4px;
	left: 86px;
	height: 30px;
	transform: rotate(120deg);
}
.goTop:after{
	left: 0;
	top: 26px;
	height: 1.5px;
	width: 100px;
}
.goTop-org{
	opacity: 0;
	bottom: -100px;

}
.goTop-active{
	opacity: 1;
	bottom: 100px;
	transition: 2s;
}
.goTop:hover:after{
	background-color: var(--red);
	transform: translateX(20px);
	transition: .8s;
}
.goTop:hover:before{
	transform: translateX(20px) rotate(120deg);
	background-color: var(--red);
	transition: .8s;
}

.goTop:hover span{
	display: inline-block;
	transform: translateX(10px);
	transition: .8s;
	color: var(--red);
}
@media screen and (max-width:767px){
.goTop{
	right: -21px;
	transform: scale(0.7) rotate(270deg);
}
.goTop-active{
	bottom: 72px;
}

h3.title_deraction{
	padding: 0px 10px 10px;
}
span.title_deraction:after{
	width: 80%;
}
.contact-flex{
	/* margin: px 0px; */
}
.contactTable input[type="submit"]{
	font-size: 14px;
}
.contactTable .slogan_content{
	line-height: 27px;
}
.wrapper{
	width: 100%;
	min-width: 200px;
	max-width: 720px;
	margin: auto;
}
.section{
	padding: 70px 0px 10px ;
}
.triangel_sm-before:before{
	width: 20px;
	height: 20px;
	top: -12.5px;
}
.triangel_sm-after:after{
	width: 20px;
	height: 20px;
	bottom: -10px;
}
.banner_content{
	text-align: center;
}
a.contact{
	width: 130px;
	height: 38px;
	line-height: 38px;
}
.contact-flex{
	margin: 5px 0px;
}
.contactTable select{
	height: 27px;
}
a.more{
	border: 2px solid;
	width: 80px;
	height: 28px;
	line-height: 28px;
}
.bread{
	padding:60px 10px;
}
/* --------第一屏-------- */
.header_text{
	width:50%;
	padding-bottom:50%;
	border: 6px solid var(--gray_4);
	top:0;
	bottom: 0;
	right:0;
	left: 0;
	margin: auto;
}
.header_text_container{
	width: 50%;
	padding-bottom: 50%;
}
.header_text_content{
	position: absolute;
	bottom: 36%;
}
.contact-flex .slogan_content{
	font-size: 14px;
	line-height: 23px;
}
}
@media screen and (max-width:479px){
.contactTable select{
	height: 22px;
}
.contactTable input[type="text"]{
	height: 16px;
}
.contact_table{
	width: 83%;
}
.section{
	padding: 28% 0px 2%;
}
.header_text{
	width: 200px;
	padding-bottom: 200px;
	border: 6px solid var(--gray_4);
}
.header_text_container{
	width: 200px;
	padding-bottom: 200px;
}
.header_text_content{
	bottom: 28%;
}
.contactTable .slogan_content{
	line-height: 22px;
}
.banner_back{
	padding: 30px 20px 30px;
}
}
@media screen and (min-width:768px){
h3.title_deraction{
	padding: 0px 20px 10px;
}
span.title_deraction:after{
	width: 88%;
}
.wrapper{
	width: 100%;
	/* min-width: 720px; */
	max-width: 960px;
	margin: auto;
}
.section{
	padding: 10% 0px 7%;
}
.triangel_md-before:before{
	width: 30px;
	height: 30px;
	top: -15px;

}
.triangel_md-after:after{
	width: 30px;
	height: 30px;
	bottom: -15px;
}
a.contact{
	width: 160px;
	height: 43px;
	line-height: 43px;
}
.contact-flex{
	margin: 7px 0px;
}
a.more{
	border: 2px solid;
	width: 100px;
	height: 32px;
	line-height: 32px;
}
.bread{
	padding:140px 20px;
}
.header_text{
	width: 50%;
	padding-bottom: 50%;
	border: 6px solid var(--gray_4);
	top: 50%;
	right: 2%;
}
.header_text_container{
	width: 50%;
	padding-bottom: 50%;
}
.header_text_content{
	margin-top: 50%;
}
/* -----------footer----------- */
footer{
	padding-top: 40px;
}
.footer_icon{
	max-width: 80px;
	width: 13%;
}
.footer_item {
	padding: 20px 0px;
}
.footer_item p{
	padding: 30px 0px;
	line-height: 25px;
	font-size: 14px;
}
}
@media screen and (min-width: 1024px){
span.title_deraction:after{
	width: 91%;
}
.wrapper{
	width: 100%;
	min-width: 960px;
	max-width: 1200px;
	margin: auto;
}
.section{
	padding: 8% 0px 3%;
}
/* -- -----------contact表單-------------- */
.contact_table{
	width: 500px;
	margin-top: -470px;
	float: right;
	margin-right:40px;
}
.contactTable{
	padding: 230px 0px 100px;
}
/* -- -----------第一屏-------------- */
.header_text{
	width: 600px;
	padding-bottom: 600px;
	border: 6px solid var(--gray_4);
}
.header_text_container{
	width: 600px;
	padding-bottom: 600px;
}
.header_text_content{
	margin-top: 23%;
}
.header_text_container h2{
	padding: 5px;
}
.blog_pic{
	box-sizing: border-box;
	border:3px solid transparent;

}
.blog_item:hover .blog_pic{
	animation:border-active 4s;
	transition: 1s;
}
@keyframes border-active{
			0%{border:3px solid transparent;}
			25%{border-left:3px solid var(--red);}
			50%{border-top:3px solid var(--red);
				border-right:3px solid var(--red);}
			75%{border-top:3px solid var(--red);
				border-right:3px solid var(--red);
				border-bottom:3px solid var(--red);}
			100%{border-top:3px solid var(--red);
				border-right:3px solid var(--red);
				border-bottom:3px solid var(--red);
				/* border-left:3px solid var(--red); */
			}
}

}
@media screen and (min-width: 1440px){
span.title_deraction:after{
	width: 95%;
	right: 0;
}
.header_text{
	top: 57%;
	right: 8%;
}
}