body{font-family:'微軟正黑體','黑體',Arial,SerifMicrosoft JhengHei,Heiti TC;}
a{text-decoration:none;}
h2,h4,h3,.title-gray,.title-white{
	text-align: center;
}
h4,.title-gray{
	color:var(--gray_1);
}
h2,h3{
	color:var(--red);
}
.header .slogan_content,.header_bac .slogan_content,span.title_deraction{
	color: var(--red_2);
}
.slogan-white,.slogan_content-white,.contact,.subcontent-white,p.content-white,.title-white{color:#eee;}
.slogan_content,.content-gray,.more,.bread a,.bread{color:var(--gray_2);}
.subcontent-gray{color:var(--gray_4);}
nav .menu>li>a{
	line-height: 40px;
	color:var(--gray_1);
}
span.title_deraction{
	font-size: 10px;
	line-height:15px;
}
.webDesign_menu li a,.works_menu li a{
	color:var(--gray_2);
	line-height: 40px;
}
ul.work_sub_manu li a,
ul.website_sub_manu li a{
	font-size: 14px;
}
.line_decoration:after{
	width: 120px;
}

@media screen and (max-width: 767px){
h2{
	font-size: 30px;
	font-weight: bold;
	line-height: 60px;
}
h3{
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}
h4{
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
}
.slogan-white{
	font-size: 18px;
	line-height: 30px;

}
.slogan_content{
	font-size: 16px;
	line-height: 23px;
}
.title-gray,.title-white{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;

}
.content-gray,.content-white{
	font-size: 14px;
	line-height: 23px;
}
.contact{
	font-size: 16px;
}
.more{
	font-size: 12px;
}

.subcontent-white,.bread a,.bread{
	font-size: 12px;
	line-height: 19px;
}
.bread a,.bread{
	text-decoration: none;
}
.webDesign_menu li a li a,.works_menu li a li a{
	font-size: 14px;
	line-height: 40px;
	
}

.subcontent-gray{
	font-size: 12px;
	line-height: 15px;
}
}
@media screen and (min-width: 768px){
h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 70px;
}
h3{
	font-size: 35px;
	font-weight: bold;
	line-height: 60px;
	letter-spacing: 2px;

}
h4{
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
}
.slogan-white{
	font-size: 24px;
	line-height: 35px;
}
.slogan_content,.slogan_content-white{
	font-size: 20px;
	line-height: 35px;
}
.title-gray,.title-white{
	font-weight: bold;
	font-size: 24px;
}
.content-gray,.content-white{
	font-size: 16px;
	line-height: 30px;
}
.contact{
	font-size: 18px;
}
.more{
	font-size: 14px;
}
.subcontent-gray,.subcontent-white,.bread{
	font-size: 14px;
}
}
@media screen and (min-width: 1024px){
nav .menu>li>a{
	font-size: 18px;
}}
