header a[name="top"]{
	display: none;
}
nav{
	position: relative;

}
/* ------------ 第一屏 ------------- */
.header_bac{
	width: 100%;
	background-position: 50%;
	background-size: cover;
	height: 85vh;

}
header div.bx-wrapper{
	margin-bottom: 0px;
}
.bx-wrapper div.bx-pager{
	bottom: 16px;
}
.wowfun{background-image:url('02image/homepage/banner1.png');}
.wowfun2{background-image:url('02image/homepage/banner2.png');}
.header_bac .wowfun_content,.header_bac .wowfun_content2{
	box-sizing:border-box; 
	position: absolute;
}
.wowfun_content h2{
	text-align: left;
}
.wowfun_content{
	padding: 30px;
}
.wowfun_content2 {
	margin:10% 0 0 10%;
}
.wowfun_content2 h3,.wowfun_content2 h2{
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
}
.wowfun_content p{
	padding: 0px 30px;
}
/* ------------ 網站特色 ------------- */
.feature{
	background-image: url("02image/homepage/feature2.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	position: relative;
	/* margin-top: 20px; */
}
.feature_middle{
	height:60vh;
	font-size: 0;
}
.feature_content{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	background-color: var(--white_1);
}

.feature_content h4{
	padding: 10px 15px 30px;
}
.feature_content p{
	padding : 0px 40px;
}
/* --------------服務項目-------------- */
.service{
	padding: 90px 0px 10px;
}
.service_pic{
	width: 80px;
	display: inline-block;
}
.service_item{
	text-align: center;
	position: relative;
}
.service_item a{
	display: block;
}
.service_item p{
	text-align: left;
	text-align: justify;　/*　Firefox到此即可對齊　*/
 　text-justify: auto;　　/*　IE需再加上此行　*/
	width: 70%;	
	margin: 1% auto;
}
/* - -----------成功案例--------------- */
.works_content,.works_button{
	background-color: var(--black);
}
.works_content{
	box-sizing: border-box;
	opacity: .9;
}
.works_arrow{
	text-align: center;
}
.works_button{
	width: 23px;
	height: 23px;
	display: inline-block;
	padding: 5px;
	margin: 10px;
	line-height: 13px;
	opacity: .9;
}
.works .content-index-product-pie-info.content-white{
	opacity: .9;
}
.works a{display: block;}
.works h5{
	text-align: left;
}
/* - -----------blog-------------- */
.blog{
	margin-top: 10px;
	text-align: center;
}
.blog_item{
	box-sizing: border-box;
	position: relative;
	padding: 20px 10px;
}
.blog_item h5{
	padding: 8px;
	position: relative;
	margin: 16px 0px;

}
.blog_item .subcontent-gray{
	text-align: center;
}
.blog_item .content-gray{
	padding: 8px 0px;
	text-align: left;
	width: 85%;
	margin: auto;

}
.blog_item p.subcontent-gray span{
	display: inline-block;
	text-align: right;
	margin-left: 20px;
}
.blog_item p.content-gray span{
	display: block;
	text-align: right;
}
.blog .line_decoration:after{
	top: 110%;
}
/* ------------輪播---------------- */



/* - -----------手機版本-------------- */
@media screen and (max-width: 767px){
.wowfun_content{
	margin-top: 15%;
}
/* ------------ 網站特色 ------------- */
.feature ,.feature_middle{
	height:500px;
	padding: 0px 30px;
}
.feature_content{
	padding:50px 0px;
}
/* --------------服務項目-------------- */
.service_container{
	padding:15px 0px 0px;
}
.service_item{
	text-align: center;
	padding:15px 0px 5px;
}
.service_content{
	width: 67%;
	padding: 10px;
	margin: auto;
}
.service_pic{
	width: 50px;
	display: inline-block;
}
.service_content h4{
	padding: 20px 0px 8px ;
}
.service_content p{
	width: 55%;	
	/* padding: 3px 64px 0px; */
	line-height: 23px;
}
/* - -----------成功案例--------------- */
.works_content{
	width: 36%;
	margin: auto;
	margin-top: -10%;
	padding: 20px 30px;
}
.works h5{
	padding: 5px 0px 8px;
}
}

@media screen and (max-width: 479px){
.feature_content{
	padding:60px 0px;
}
.service_content p{
	/* padding: 3px 34px 0px; */
	width: 70%;	
}
.works_content{
	width: 60%;
	padding: 20px 20px;
}
.feature_middle{
	padding: 0px 16px;
}
}
/* - -----------平板版本-------------- */
@media screen and (min-width: 768px){
/* ------------ nav ------------- */
nav{
	position: relative;
	background-color: transparent;
}

.nav-active{
	position: fixed;
	top: 0;
	box-shadow: 0px 1px 8px var(--gray_4);
	background-color: hsla(10, 10%, 98%, 1);
}
.space{
	display: none;
	height: 117.56px;
}
.nav-active + .space{ 
	display: block;
}
.wowfun_content{
	margin-top: 20%;
	/* left: 0; */
}
/* ------------ 網站特色 ------------- */
.feature ,.feature_middle{
	height:500px;
	padding: 0px 30px;
}
.feature_content{
	padding:60px 0px;
}
/* --------------服務項目-------------- */
.service_container{
	padding:30px 0px 0px;
}
.service_item{
	padding:10px 0px 0px;
}
.service_content{
	padding: 20px 20px;
}

.service_content h4{
	padding: 5px 0px 10px ;
}
.service_content p{
	/* padding: 5px 3px; */
	width: 80%;	
}
/* - -----------成功案例--------------- */


.works-flex{
	box-sizing: border-box;
	display: flex;
}
.works-flex .tad_md-3{
	align-self: flex-end;
}
.works_content_wrapper{
	margin-top: -250px;
	margin-left: -50px;
}
.works_content
{
	padding: 30px 20px;
}
.works h5{
	padding: 5px 0px 8px;
}
.blog h3,.works h3{
	padding-bottom: 60px;
}
}
/* - -----------桌機版本--------------- */
@media screen and (min-width: 1024px){
.wowfun_content{
	width: 60%;
	margin-top: 2%;
	right: 0;
}
.wowfun_content h2{
	padding: 40px 0 20px;
 }
.feature ,.feature_middle{
	height:600px;
	padding: 0px 30px;
}

/* ------------ 網站特色 ------------- */
.feature_wrapper{
	height: 0;
	padding-bottom:45%;
	background-attachment: fixed;
	background-position: 10px 0px;
	background-position: right;
	position: relative;
}
.feature_middle:before{
	height: 0;
}
.feature_content{
	width: 700px;
	position: absolute;
	padding:90px 0px;
	bottom: 0;
	right: 0;
	margin: 6% auto 2%;
}
.feature_content:before{
	content: '';
	height: 0;
	width: 0;
	border-right: 176.5px solid var(--white_1);
	border-top: 176.5px solid transparent;
	border-bottom: 176.5px solid transparent;
	position: absolute;
	bottom: 0;
	left: -176px;
}
.blog .tad_sm-6:nth-child(1) .blog_item:after{
	content: '';
	display: block;
	height: 500px;
	width: 2px;
	background-color: var(--gray_4);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.service_container{
	padding:67px 0px 0px;
}
}
@media screen and (min-width: 1440px){
/* ------------ 網站特色 ------------- */
.feature{
	background-position: center;
	background-attachment: fixed;
}
/* --------------服務項目-------------- */
.service h3 span.title_deraction:after{
	width: 94.5%;
	right:-15px ;
}
.service_content .content-index-product-info{
    -webkit-transform: scale3d(1,1,1) rotate3d(0,0,0,0) translate3d(0,0,0);
    transform: scale3d(1,1,1) rotate3d(0,0,0,0) translate3d(0,0,0);
}
.service{
	margin-bottom:12% ;
}
.service_item_container{
	position: absolute;
	width: 80%;
	padding: 50px 0;
	margin: auto;
	box-shadow: 0px 0px 5px 2px var(--gray_4);
	border-radius: 10px;
	background-color: rgba(254, 250, 250, 1.0);
	transition: .8s;
	right: 0;
	left: 0;
}
.service_content p{
	opacity: 0;
	width: 70%;
	position: absolute;
	top: 60%;
	margin: auto;
	right: 0;
	left: 0;
	margin: auto;
	/* margin-top: -50px; */
	transition: opacity .6s ,bottom .4s .3s;
}
.service_item{
	margin-top:3%;
	padding: 50px 10px 120px;
	transition: .8s;
}
.service_pic,.service_content h4{
	transform: translateY(10px);
	transition: .8s;
}
.service_item:hover .service_item_container{
	width: 100%;
	box-shadow: 0px 0px 14px var(--gray_4);
	background-color: rgba(254, 250, 250, 1.0);
	border-radius: 10px;
	transition: .8s;
	padding-bottom: 120px;
}
.service_item:hover p{
	opacity: 1;
	transition: opacity .8s .2s,top .6s;
}
.service_item:hover .service_pic,
.service_item:hover .service_content h4{
	transform: translateY(0px);
	transition: .8s;
}
.works_button{
	width: 28px;
	height: 28px;
	padding: 7px;
	line-height: 13px;
}

/* -- -----------blog-------------- */
.blog{
	padding:140px 0px 40px ;
}
.blog_item{
	padding:30px 50px 20px;
}
}



